

h1{
    font-family: 'Kiona'!important;
    font-size: 500px;
}

h4{
    font-family:'Edo SZ' !important;
    font-size: 100px;
}

.column{
font-family:'Kiona' ;
}

.navbar-menu{
    font-family:'Kiona' ;
}

p{
    font-family:'Kiona' ; 
    padding-right: 40px;
}

.column{
    font-family:'Kiona'
    
    }

    p{
    font-size: 12px;
   
    }
    
    h5{
        padding-top: 60px;
        text-align: center;
    }

    h6{
        font-family:'Kiona';
    }

    h7{
        font-family:'Kiona' !important;
    }

.nav{
    width: 100%;
}

.header{
    font-family:'Kiona';
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }


  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 90px;
    font-family:'Kiona' ;
  }

